


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {

    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /*Margin gets ride of border that is shown on the website inside the browser*/

}

.hero-bg    {

    background: #307D99 url('../images/bg.jpg');
    background-position: 12% 83%;
    color:white;
    text-align: center;
    padding: 4em;
}

header {

    padding: 1em 0;
}

.hero-bg a {
      /* A represents A tag. Any links within hero-bg class with an a tag (anchor) do this..  */
      color: white;
      text-decoration: none;
      /* text decoration gets rid of underline*/
      font-weight: bold;
      font-size: 1.2rem;

}

section {
    margin: 0 1em;

}

h1{
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}

h1 span {

    text-transform: uppercase;
    display: block;
    /*display block means that it will be one its own line. "The health" will be on its own line. */
    font-size: 1.4rem;
    position:relative; 
    z-index: 1;
}

h1 span::before  {
    /*This is the blue line under "The Healthy"*/ 

    content: '';
    position: absolute;
    width: 3em;
    background: #00BFFF ;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
     
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;
    /* left, up, right */
}

.form-container{
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em; 
}

label {
    color: #2D7d98;
    font-weight: bold;
    display:block;
    /* We dont want anything next to the right or left of "enter your city", so we put a block to fix this */
    margin-bottom: 1em;
    font-size: 1.2em;  
}

input[type=text]{
    border: 1px solid #707070;
    width : 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
}


.form-container p {
    color:gray;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
    margin-top: .3em;
}

input[type=button]{
    background-color: #f89104;
    border: none;
    /* gets rid of the black border around button*/
    width: 100%;
    color: white;
    font-weight: bold ;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
    /*cursor turns into hand when placed over button*/
    
}


input[type=button]:hover{
    background-color: #c57301;
    font-weight: normal;    
}

.authentic {
    margin: 0;

}

.right-col{

    text-align: center;
    margin: 3em 1em; 
}

h2 {
    text-transform: uppercase;
    position: relative;

}

h2::before  {
    /*This is the blue line under "The Healthy"*/ 

    content: '';
    position: absolute;
    width: 8em;
    background: #00BFFF ;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;   
}

img {
    width:100%;
}

p{
    line-height: 2em;
    
}

@media (min-width: 730px) {
/*these changes will only take place when the page is stretched 730px wide*/
    section{
        margin: 0 4em;
    }
    .form-container{
        
        margin: 2em 4em 0;
       
    }
}


@media (min-width: 930px) {

    /*these changes will only take place when the page is stretched 930px wide*/

    .hero-bg    {
        text-align: left;     
    }
    /*this moves the text to the left when the page is stretched beyond 930px*/

    .hero-bg p {
    margin: 0 0 3em;
    }

    .hero-bg section{
        width: 65%;
    }

    .form-container{
        margin: 2em 0 0;
        padding: 2em;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    }
}

1148